body {
  background-color: #151718;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #151718;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: #fbfcfd;
  }
}
